In [61]:
import pandas as pd
citibike = pd.read_csv('data/citibike-tripdata.csv', sep=',')
display(citibike)
citibike_df = citibike.copy()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [4]:
# Задание 6.1
# Сколько пропусков в столбце start station id?
# citibike_df.info()
citibike.info()
missing_start_station_id = citibike_df['start station id'].isnull().sum()
missing_start_station_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

np.int64(169)

In [5]:
# Задание 6.2

# Какой тип данных имеют столбцы starttime и stoptime?
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [6]:
# Задание 6.3

# Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.
citibike_df['start station id'].value_counts()

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 759, dtype: int64

In [7]:
# Задание 6.4

# Велосипед с каким идентификатором является самым популярным?
citibike_df['bikeid'].value_counts()

bikeid
33887    107
34358    104
34159    103
34258    103
34314    102
        ...
32682      1
18260      1
34554      1
34518      1
25794      1
Name: count, Length: 10004, dtype: int64

In [25]:
# Задание 6.5

# Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? 
# В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

subs = citibike_df[citibike_df['usertype'] == 'Subscriber'].shape[0]
cust = citibike_df[citibike_df['usertype'] == 'Customer'].shape[0]
total = citibike_df['usertype'].shape[0]
display(citibike_df['usertype'].value_counts())
ratio = subs/total
print(round(ratio,2))

usertype
Subscriber    232202
Customer       67798
Name: count, dtype: int64

0.77

In [ ]:
# Задание 6.6

# Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше
total_gender = citibike_df['gender'].shape[0]
male = citibike_df[citibike_df['gender'] == 1].shape[0]
female = citibike_df[citibike_df['gender'] == 0].shape[0]
ratio = male/total_gender

print(total_gender)
print()
print(male)
print()
print(female)
print()
print(round(ratio,2))

300000

183582

41912

0.61

In [58]:
# Задание 6.7

# Выберите утверждения,которые соответствуют нашим данным:
# A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
# B рассматриваемые дни минимальный возраст клиента составлял 10 лет
# C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
# D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

#Проверим A
total_uniq_start_station = citibike_df['start station id'].nunique()
total_uniq_end_station = citibike_df['end station id'].nunique()
print(total_uniq_start_station)
print(total_uniq_end_station)

#Проверим Б
minimal_age=2018-citibike_df['birth year'].max()
print(minimal_age)

#Проверим C
print(citibike_df['start station name'].value_counts().iloc[::-1])

#Проверим D
print(citibike_df['end station name'].value_counts().iloc[1:5])

# iloc[1:4]

759
765
16
start station name
Eastern Pkwy & Washington Ave           6
47 Ave & Skillman Ave                   7
Railroad Ave & Kay Ave                  9
Franklin Ave & Empire Blvd             11
NYCBS Depot - GOW                      15
                                     ...
West St & Chambers St                1835
12 Ave & W 40 St                     1845
Pershing Square North                1873
Central Park S & 6 Ave               1909
Grand Army Plaza & Central Park S    1928
Name: count, Length: 759, dtype: int64
end station name
12 Ave & W 40 St          1909
Pershing Square North     1850
Central Park S & 6 Ave    1828
E 17 St & Broadway        1804
Name: count, dtype: int64

In [ ]:
# Задание 6.8

# В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. 
# Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

citibike_mod = citibike_df.drop(['start station name','end station name'],axis=1,inplace=False)

,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,40.732264,-73.998522,366.0,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,40.693830,-73.990539,3242.0,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,40.761227,-73.960940,3384.0,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,40.713079,-73.998512,3690.0,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,40.736494,-73.997044,380.0,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,40.747348,-73.997236,448.0,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,40.720368,-73.961651,3086.0,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,40.739448,-74.005070,168.0,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,40.735324,-73.998004,499.0,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,40.792327,-73.938300,3502.0,40.795412,-73.944123,18292,Subscriber,1966,1

In [75]:
# Задание 6.9

# Замените признак birth year на более понятный признак возраста клиента age. 
# Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. 
# Сколько поездок совершено клиентами старше 60 лет?

citibike_mod['age']= 2018 - citibike_mod['birth year']
citibike_mod2 = citibike_mod.drop('birth year', axis=1)
old_bikers = citibike_mod2[citibike_mod['age'] > 60].shape[0]

print(citibike_mod2['age'].value_counts())
print(old_bikers)

age
49     43959
30     12551
28     12051
29     11704
27     11640
       ...
109        1
129        1
103        1
82         1
111        1
Name: count, Length: 91, dtype: int64
11837

In [80]:
# Задание 6.10

# Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). 
# Сколько целых минут длилась поездка под индексом 3 в таблице?


#Преобразим времена
citibike_mod2['stoptime'] = pd.to_datetime(citibike_mod2['stoptime'])
citibike_mod2['starttime'] = pd.to_datetime(citibike_mod2['starttime'])
citibike_mod2.head()

citibike_mod2['trip duration']= citibike_mod2['stoptime'] - citibike_mod2['starttime']
citibike_mod2.head()

,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,252.0,40.732264,-73.998522,366.0,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,314.0,40.693830,-73.990539,3242.0,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,3142.0,40.761227,-73.960940,3384.0,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,308.0,40.713079,-73.998512,3690.0,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,345.0,40.736494,-73.997044,380.0,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000